.focused-youtube {
  height: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: #F1F6F4;
}

.focused-youtube__header {
  font-size: 48px;
  line-height: 60px;
}

.focused-youtube__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
