@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf");
}

/* Hide the whole page by default to prevent blinking when extension is being loaded. */
body {
  display: none;
}

.fy-home-page {
  height: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;

  background-color: #F1F6F4;
}

.fy-home-page__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 22px;

  background-image: url("chrome-extension://__MSG_@@extension_id__/images/youtube_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fy-home-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fy-search-form {
  display: flex;
}

.fy-search-form__text-input {
  min-width: 300px;
  padding: 8px 12px;

  border: 1px solid #ded7d7;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  outline: none;

  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.fy-search-form__submit {
  display: block;
  width: 70px;
  height: 42px;

  border: 1px solid #ded7d7;
  border-radius: 0 2px 2px 0;
  outline: none;

  background-image: url('chrome-extension://__MSG_@@extension_id__/images/search_icon.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

/* Do not delete the ".ytd-popup-container" class to avoid losing
+ the dropdown menu on the top rigth side of the video block. */

body.fy-results-page #guide-icon.ytd-masthead,
body.fy-watch-page .button.yt-icon-button,
body.fy-results-page #guide-content,
body.fy-results-page #buttons.ytd-masthead,
body.fy-results-page #sub-menu,
body.fy-results-page ytd-horizontal-card-list-renderer,
body.fy-results-page ytd-channel-renderer,
body.fy-results-page ytd-mini-guide-renderer,
body.fy-results-page yt-showing-results-for-renderer,
body.fy-results-page ytd-continuation-item-renderer, /* Remove infinite scroll */
body.fy-results-page #secondary.style-scope.ytd-two-column-search-results-renderer,
body.fy-results-page ytd-reel-shelf-renderer /* Hide "Shorts" sections */,
body.fy-results-page #header .ytd-search /* Hide header bar with tags All, Shorts, etc */,
body.fy-results-page .ytd-ad-slot-renderer /* Hide "Sponsored" search results */ {
  display: none !important;
}

body.fy-results-page #dismissable.ytd-video-renderer,
body.fy-results-page .ytd-item-section-renderer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body.fy-results-page.fy-results-page--infinite-scroll-enabled ytd-continuation-item-renderer {
  display: block !important;
}

body.fy-watch-page #guide-icon.ytd-masthead,
body.fy-watch-page .button.yt-icon-button,
body.fy-watch-page #guide-content,
body.fy-watch-page #buttons.ytd-masthead,
body.fy-watch-page #sub-menu,
body.fy-watch-page #related,
body.fy-watch-page #subscribe-button,
body.fy-watch-page yt-icon-button.dropdown-trigger:first-of-type,
body.fy-watch-page ytd-sentiment-bar-renderer,
body.fy-watch-page .html5-endscreen, /* Remove suggested video endscreen */
body.fy-watch-page .ytp-ce-element, /* Remove end-video subscribe and author recommendations */
body.fy-watch-page .ytp-ce-element.ytp-ce-channel.ytp-ce-channel-this, /* Remove YT premium/TV nudges */
body.fy-watch-page .ytp-pause-overlay, /* hide suggest video popup when embedded videos paused */
body.fy-watch-page .ytp-next-button, /* Remove play next button */
body.fy-watch-page ytd-live-chat-frame, /* Hide live chat and chat replay */
body.fy-watch-page .ytd-browse .app-header,
body.fy-watch-page #comments {
  display: none !important;
}

body.fy-watch-page.fy-watch-page--comments-visible #comments {
  display: block !important;
}

body.fy-watch-page ytd-video-secondary-info-renderer {
  border: 0;
}

body.fy-channel-page #guide-icon.ytd-masthead,
body.fy-channel-page .button.yt-icon-button,
body.fy-channel-page #guide-content,
body.fy-channel-page #buttons.ytd-masthead,
body.fy-channel-page #guide-button.ytd-masthead,
body.fy-channel-page .ytd-mini-guide-entry-renderer,
body.fy-channel-page #sub-menu,

/* Hides "Subscribe" to channel button from videos page */
ytd-browse[page-subtype='channels'] .app-header {
  display: none;
}

/* Hides notification bell-icon from header menu */
ytd-notification-topbar-button-renderer.notification-button-style-type-default {
  display: none !important;
}

/* Settings for Dark Mode */
@media (prefers-color-scheme: dark) {
  .fy-home-page {
    background-color: #0F0F0F;
  }

  .fy-home-page__logo {
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/youtube_logo_dark.png");
  }

  .fy-search-form__text-input {
    border: 1px solid hsl(0, 0%, 18.82%);
    border-right: 0;
    border-radius: 2px 0 0 2px;

    background-color: #121212;

    color: #E2E2E2;
  }

  ::placeholder {
    color: #E2E2E2;
    opacity: 0.5;
  }

  .fy-search-form__submit {
    border: 1px solid hsl(0, 0%, 18.82%);
    border-radius: 0 2px 2px 0;

    background-image: url('chrome-extension://__MSG_@@extension_id__/images/search_icon_dark.svg');
    background-color: #222222;
  }
}

/* Settings for Mobile Phone */
@media screen and (max-width: 768px) {

  .fy-home-page {
    flex-direction: column;
    gap: 0.8rem;
  }

  .fy-home-page__logo {
    display: block;
    width: 10rem;
    height: 2rem;
    top: 1rem;
    left: 1rem;
  }

  .fy-search-form__text-input {
    min-width: 16rem;
  }

  .fy-search-form__submit {
    width: 4rem;
  }

  body.fy-watch-page ytm-item-section-renderer[section-identifier="related-items"], /* Hides recommendation video */
  body.fy-watch-page ytm-item-section-renderer[section-identifier="comments-entry-point"] {
    display: none !important;
  }

  body.fy-watch-page.fy-watch-page--comments-visible ytm-item-section-renderer[section-identifier="comments-entry-point"] {
    display: block !important;
  }

  body.fy-results-page ytm-reel-shelf-renderer, /* Hides unrelated short reel */
  body.fy-results-page ytm-video-with-context-renderer:has(.ytm-badge-and-byline-item-badge), /* Hides unrelated badge video */
  body.fy-results-page ytm-compact-channel-renderer, /* Hides "Subscribe" channel widget */
  body.fy-results-page ytm-pivot-bar-renderer[role="tablist"], /* Hides bottom menu with Home/Shorts/Library icons */
  body.fy-results-page .ytm-info-panel-content-wrapper /* Hides "About these results" block on top of the search page */ {
    display: none !important;
  }
}
