@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf");
}

body {
  display: none;
}

.focused-youtube {
  height: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;

  background-color: #F1F6F4;
}

.focused-youtube__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 22px;

  background-image: url("chrome-extension://__MSG_@@extension_id__/images/youtube_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.focused-youtube__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
}

.search-form__text-input {
  min-width: 300px;
  padding: 8px 12px;

  border: 1px solid #ded7d7;
  border-right: none;
  border-radius: 0 0 2px 2px;
  outline: none;

  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.search-form__submit {
  display: block;
  width: 70px;
  height: 42px;

  border: 1px solid #ded7d7;
  border-radius: 2px 2px 0 0;
  outline: none;

  background-image: url('chrome-extension://__MSG_@@extension_id__/images/search_icon.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

body.fy-results-page #guide-button,
body.fy-results-page #guide-content,
body.fy-results-page #end,
body.fy-results-page #sub-menu,
body.fy-results-page ytd-horizontal-card-list-renderer,
body.fy-results-page ytd-channel-renderer,
body.fy-results-page yt-showing-results-for-renderer,
body.fy-results-page #secondary {
  display: none;
}

body.fy-results-page #dismissable.ytd-video-renderer,
body.fy-results-page .ytd-item-section-renderer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body.fy-watch-page #guide-button,
body.fy-watch-page #guide-content,
body.fy-watch-page #end,
body.fy-watch-page #sub-menu,
body.fy-watch-page #items,
body.fy-watch-page #related,
body.fy-watch-page #subscribe-button,
body.fy-watch-page #comments,
body.fy-watch-page ytd-button-renderer,
body.fy-watch-page yt-icon-button.dropdown-trigger:first-of-type,
body.fy-watch-page ytd-sentiment-bar-renderer,
.ytd-browse .app-header {
  display: none;
}

body.fy-watch-page ytd-video-secondary-info-renderer {
  border: 0;
}

/* Hides "Subscribe" to channel button from videos page */
ytd-browse[page-subtype='channels'] .app-header {
  display: none;
}

/* Styles specific to /watch */
.ytd-watch-flexy#secondary,  /* Remove reccomended sidebar, give video more space */
.html5-endscreen  /* Remove suggested video endscreen */
{
	display: none;
}

/* Hides notification bell-icon from header menu */
ytd-notification-topbar-button-renderer.notification-button-style-type-default {
  display: none !important;
}
